@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 576px) {
    .desktop-box *{
        display: none;
    }
    
    .body-box{
        height: 100vh;
        display: grid;
        background-color: black;
    }

    .header-box{
        grid-row: 1;
        height: 20vh;
        width: 100vw;
        background-image: url(../assets/img/blacklab-header-background.jpg);
        background-size: 81%;
        background-repeat: no-repeat;
        background-position: 50% 57%;
        display: flex;
        justify-content: center;
    }
    
        .navbar {
            width: 100%;
        }
        
        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 62px;
        }
        
        .navbar .menu-items {
            display: flex;
            z-index: 10;
        }
        
        .navbar .nav-container li {
            list-style: none;
        }
        
        .navbar .nav-container a {
            text-decoration: none;
            color: #000000;
            font-weight: 500;
            font-size: 1.2rem;
            padding: 0.7rem;
        }
        
        .navbar .nav-container a:hover{
            font-weight: bolder;
        }
        
        .nav-container {
            display: block;
            position: relative;
            height: 60px;
            top: ppx;
            left: 0px;
        }
        
        .nav-container .checkbox {
            position: absolute;
            display: block;
            height: 32px;
            width: 32px;
            top: 120px;
            left: 40px;
            z-index: 10;
            opacity: 0;
            cursor: pointer;
        }
        
        .nav-container .hamburger-lines {
            display: block;
            height: 26px;
            width: 32px;
            position: absolute;
            top: 120px;
            left: 20px;
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .nav-container .hamburger-lines .line {
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: #e4e4e4;
        }
        
        .nav-container .hamburger-lines .line1 {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line2 {
            transition: transform 0.2s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
        }
        
        .navbar .menu-items {
            padding-top: 120px;
            box-shadow: inset 300px 300px 20000px white;
            height: 100vh;
            width: 100%;
            transform: translate(-100%);
            display: flex;
            flex-direction: column;
            margin-left: -40px;
            padding-left: 50px;
            transition: transform 0.5s ease-in-out;
            text-align: center;
        }
        
        .navbar .menu-items li {
            margin-bottom: 1.2rem;
            font-size: 1.5rem;
            font-weight: 500;
        }
        
        .logo {
            position: absolute;
            top: 5px;
            right: 15px;
            font-size: 1.2rem;
            color: #0e2431;
        }
        
        .nav-container input[type="checkbox"]:checked ~ .menu-items {
            transform: translateX(0);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
            transform: rotate(45deg);
        }
        
    .main-box{
        grid-row: 2;
        height: 100%;
        color: white;
        background-color: #000000;

    }
    
    .main-index-mobile{
        height: 210px;
    }

    .main-sections-box{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        font-weight: bold;
        color: white;
        font-size: 15px;    
        text-decoration: none;
        background-color: #000000;
    }
    
    .main-sections-box img{
        width: 240px;
        height: 50%;
        border-radius: 15%;
        border-style: groove;
        border-color: grey;  
        opacity: 96%;
    }
    
    .main-sections-box img:hover{
        width: 240px;
        height: 50%;
        border-radius: 15%;
        border-style:outset;
        opacity: 100%;
    }
    
    .main-sections-box  p{
        height: 39px;
        width: auto + 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #727271;
        border-radius: 13px 13px 20px 20px;
    }
    
    .main-box h1 {
        height: 90px;
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items:center;
        text-shadow: 1px 1px 6px black;
    }
    
    
    
    .footer-box{
        grid-row: 3;
        height: 180px;
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        border-color: black;
    }
    
    .footer-box img{
        display: none;
    }

    .form-fieldset-box-own{
        display: flex;
        flex-direction: column ;
        align-items: center;
        gap: 3px;
    }
    
    .form-fieldset-box-own input{
        height: 27px;
        width: 250px;
    }

    .form-fieldset-box-own textarea{
        height: 60px;
        width: 250px;
    }
    
    #quest{
        height: 60px;
        width: 250px;
    }
}

@media screen and (min-width: 992px) {
    .mobile-box{
        display: none;
    }

    .main-index-mobile img{
        display: none;
    }

    .body-box{
        size: 100%;
        display: grid;
    }
    
    .header-box .desktop-box{
        grid-row: 1;
        height: 30vh;
        width: 100%;
        background-color: black;
        background-image: url(../assets/img/blacklab-header-background.jpg);
        background-repeat: no-repeat;
        background-position: 50% 57%;
        display: flex;
        justify-content: center;
    }
    
    .header-box nav{
        display: flex;
    }
    
    .header-ul-box{
        width: 1200px;
        margin: 6px;
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-self: flex-end;
        list-style:none;
        gap: 30px;
    }
    
    .header-ul-box a{
        height: 45px;
        width: 102px;
        text-decoration: none;
        font-size: 21px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #727271;
        border-radius: 15%;
        border-style: solid;
        border-color: grey;
    }
    
    .header-ul-box a:hover{
        background-color: #4D4A48;
        text-shadow: 3px 3px 6px black;
        border-style: groove;
    }
    
    .main-box{
        grid-row: 2;
        height: 90vh;
        width: 100%;
        color: white;
        background-color: black;
        background-image: url(../assets/img/blacklab-main-background.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .main-sections-box{
        display: flex;
        gap: 90px;
        align-content: space-around;
        justify-content: center;
        font-weight: bold;
        color: white;
        font-size: 15px;    
        text-decoration: none;
    }
    
    .main-sections-box img{
        width: 240px;
        height: 50%;
        border-radius: 15%;
        border-style: groove;
        border-color: grey;  
        opacity: 96%;
    }
    
    .main-sections-box img:hover{
        width: 240px;
        height: 50%;
        border-radius: 15%;
        border-style:outset;
        opacity: 100%;
    }
    
    .main-sections-box  p{
        height: 39px;
        width: auto + 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #727271;
        border-radius: 13px 13px 20px 20px;
    }
    
    .main-box h1 {
        height: 150px;
        color: white;
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items:center;
        text-shadow: 1px 1px 6px black;
    }
    
    
    
    .footer-box{
        grid-row: 3;
        height: 150px;
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        border-color: black;
    }
    
    .footer-box img{
        width: 100%;
        height: 140px;
    }
    .form-fieldset-box-own{
        display: flex;
        flex-direction: column ;
        align-items: center;
        gap: 5px;
    }
    
    .form-fieldset-box-own input{
        height: 27px;
        width: 250px;
    }

    .form-fieldset-box-own textarea{
        height: 90px;
        width: 250px;
    }
    
    #quest{
        height: 90px;
        width: 250px;
    }
}
