@media screen and (min-width: 992px) {

.footer-box{
    grid-row: 3;
    height: 150px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    border-color: black;
}

.footer-box img{
    width: 100%;
    height: 140px;
}
.form-fieldset-box-own{
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 5px;
}

.form-fieldset-box-own input{
    height: 27px;
    width: 250px;
}

.form-fieldset-box-own textarea{
    height: 90px;
    width: 250px;
}

#quest{
    height: 90px;
    width: 250px;
}

}